[submodule "ethash"]
    path = external/ethash
    url = https://github.com/chfast/ethash.git
[submodule "intx"]
    path = external/intx
    url = https://github.com/chfast/intx.git
[submodule "expected"]
	path = external/expected
	url = https://github.com/TartanLlama/expected.git
[submodule "catch2"]
	path = external/catch2
	url = https://github.com/catchorg/Catch2.git